html{
    font-family: Lato, sans-serif;
}
#screen{
    display: grid;
    grid-template-columns: 300px 1fr;
}
#title{
    color:white;
}
#sidebar-nav{
    background-color: #60AFFF;
    grid-column: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.sidebar-button{
    width: fit-content;
}
#main{
    display: grid;
    grid-template-rows: 80px 1fr;
}
#plus{
    grid-row: 1;
    height: fit-content;
    width: fit-content;
    justify-self: end;
}
#Inbox-title{
    grid-row: 1;
}
#modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#todoForm{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 47%;
    padding: 20px;
}
.todoInput{
    margin-bottom: 10px;
}
#todoTitle{
    font-size: 1.5rem;
}
#dueDateLabel{
    font-weight: bold;
}
#dueDate{
    margin-left: 5px;
}
#priorityLabel{
    font-weight: bold;
}
#priority{
    margin-left: 18px;
}
#projectLabel{
    font-weight: bold;
}
#project{
    margin-left: 20px;
}
#submit{
    margin-top: 20px;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px;
    background-color: #60AFFF;
    border: 1.5px, solid, #2A2B2B;
    border-radius: 5px;
}
#notes{
    resize: none;
    font-family: Lato, sans-serif;
}